*{ 
    scroll-behavior: smooth; 
    scr
    font-family: 'inter'; 
}

 :root{
    --color-primary: rgb(21, 217, 109);
    --pglow: rgb(104, 235, 163);
    --color-sec: rgb(6, 77, 83);
    --sglow: rgb(13, 103, 111);
}
.kbg{
    background-color: var(--sglow);
}
.navbar{  
 
    margin-top: 7px;
    height: auto; 
}
.lining{
    height: 7px;
    width: 100%;
    background-color: black;
}
.title-span{
    color: rgb(11, 180, 87);
    font-family:'Courier New', Courier, monospace;

}
li{
    list-style-type: none; 
    margin: 0 15px;
    font-size: 17px;

}

.nav-list{
    
    margin-left: 90px;
}


.navlink{
    text-decoration: none;
    color: black;
}
.navlink:hover{ 
    color: var(--color-primary)
}

.join{ 
    padding: 7px 18px;
    background-color: black;
    color: white;
    text-decoration: none; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-decoration: none;
}

@media(max-width: 1024px){
    .join{
        display: none;
    }
    .color{
        background-color: rgb(221, 219, 219);
    }
}


/* HERO */ 
.hero{
    width: 100%;
     height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-sec)
}
.hero-container{ 
    justify-content:space-between;
    align-items: center;
    width: 100vw;
    margin: 0 100px;
}

.pretext{
    width: fit-content;
    padding: 5px 17px; 
    background-color: var(--color-primary);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.main-text{
    margin-top: 10px;
    overflow-y: hidden;
}

.images{
    display: flex; 
    max-height: ;
}
.text-img1, .text-img2{
    max-width: 170px; 
    display: flex;
    flex-direction: column;
    text-align: center;
}

.text-img1:hover, .text-img2:hover{
    transform: scale(1.3);
    transition: .8s;
}

.description{ 
    width: 65%;
    font-size: 18;;
}
@media (max-width: 1024px){
    .text-img1{
        display: none
    }
}
@media (max-width: 600px){
    .text-img2{
        display: none
    }
    .description{
        width: 100%;
    }
    .hero-text{
        text-align: center;
    }
}


.hero-img{
    width: 170px;
    height: 290px; 
    border-radius: 20px;
}

.img-text{
    margin-bottom: -60px;
    color: white;
    font-size: 18;
    z-index: 1;
}



.hero-sign{
    padding: 14px 21px;
    background-color: var(--color-primary);
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    text-decoration: none;
    color: white
}

.hero-sign:hover{
    background-color: var(--pglow);
    transition: .6s;
    color: white
}

.story{
    width: 100%;
    height: auto;
    overflow-x: hidden;

}
.story-content{
    flex-wrap: wrap;
    justify-content: center;
    
}
.category-title{
    text-decoration: underline;
    text-decoration-color: var(--color-primary);
    margin: 25px 15px;
}
.story-container{
    width: 230px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;

}

.story-img{
    width: 230px;
    border-radius: 20px;
}

.story-category{
    color: rgb(201, 201, 201);
}
.story-text{
    margin-top: -35px;
    width: 90%;
    height: 150px;
    background-color: whitesmoke;
    border-radius: 10px;
    font-size: 14;
}

/* LOGIN-REGISTER */

.login-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-img{
    width: 100px;
    height: 100px;
    background-color: black;
    margin-bottom: -50px;
    border-radius: 50%;
    z-index: 1;
}
.form-container{
    width: 330px;
    height: 420px;
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-input{
    padding: 3px ;
    margin-top: -10px;
    background-color:rgb(85, 171, 211);
    color: white;
    border-radius: 10px;
}

.login-but{
    margin-top: 15px;
    padding: 4px 12px;
    border-radius: 10px;
    background-color: var(--sglow);
    color: white
}

/* MAIN.HTML */

.mainpage{
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: space-around;
}

.topics{ 
    height: 100%;
    width: auto;
    position: static;
}

.topic-container{ 
    margin-top: 20px; 
    width: 220px; 
}

.topic-title{ 
    font-size: 19;
    font-weight: 600;
}

.count-container{
    width: 35px;
    height: 35px;
    background-color: var(--color-sec);
    border-radius: 5px;
    color: var(--color-primary);
}

.posts{
    width: 550px
}
.search{ 
    padding: 0 47px;
    border-radius: 5px; 
    background-color: rgb(231, 224, 224);

}

.post-create{
    padding: 10px 20px;
    background-color: var(--color-primary);
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-sec);
    font-size: 17;
    border: 2px solid black;
}
.post-create:hover{ 
    background-color: var(--pglow);  
    transition: 0.6s;
    color:var(--color-sec)
}

.post-text{
    width: 100%;
    margin-left: 15px; 
    margin-top: 5px;
}
.post-title{
    height: 90%;
    margin-top: 10px;
    color: black;
    text-decoration: none;
    font-size: 18;

}
.post-description{
    margin: -5px 10px 0px 0px
}
.post-container{ 
    width: 550px;
   max-height: 150px;
    background-color: rgb(236, 235, 235);
    display: flex;
    border-radius: 5px;

}

.post-img{
    width: 150px;
    height: 150px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.post-layer2{
    display: flex;
    margin-right: 3px;
    height: 100%;
    margin-bottom: 5px;
    
}
.post-topic{
    width: fit-content;
    margin-right: 5px;
    padding: 5px;
    border-radius: 15px;
    background-color: rgb(216, 230, 230); 
    cursor: default;
}
.author{
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.author:hover{
    color: black
}

.post-layer{
    height: fit-content;
    display: flex;
    flex-direction: column;

}

.noti-content{
    width: 290;
    height: 100;
    border-radius: 15px;
    background-color: var(--color-primary);
    border: 3px solid black;
    margin-top: 10px;
}

.noti-text{
    
    margin: 5 10px
}











.top{
    width: 40px;
    height: 40px;
    background-color: var(--color-primary);
    border-radius: 10px;
    margin: 25px
}