*{ 
    scroll-behavior: smooth; 
    font-family: 'inter'; 
}

 :root{
    --color-primary: rgb(11, 180, 87);
    --pglow: rgb(38, 217, 118);
    --color-sec: rgb(8, 63, 88);
    --sglow: rgb(23, 109, 149);
}
nav{
}
.nav-content{  
 
    margin-top: 7px;
    height: auto; 
}
.lining{
    height: 7px;
    width: 100%;
    background-color: black;
}
.title-span{
    color: rgb(11, 180, 87);
    font-family:'Courier New', Courier, monospace;

}
li{
    list-style-type: none; 
    margin: 0 15px;
    font-size: 22px;

}

.nav-list{
    
    margin-left: 90px;
}


.navlink{
    text-decoration: none;
    color: black;
}

.join{ 
    padding: 7px 18px;
    background-color: black;
    color: white;
    text-decoration: none; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-decoration: none;
}

@media(max-width: 1024px){
    .join{
        display: none;
    }
    .color{
        background-color: rgb(221, 219, 219);
    }
}


/* HERO */
.section-hero {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKfIbwMLdco-IxTOQxKKglMT4EutsIxqAFOlgdO1cZS4updhtFmAAesbXWKWE4jMaIfvc&usqp=CAU'); 
    background-size: cover; 
    background-position-y: center;
    background-position: center; 
}
.hero{
    width: 100%;
     height: 100%;
    display: flex;
    align-items: center;
}
.hero-container{ 
    justify-content:space-between;
    align-items: center;
    width: 100vw;
    margin: 0 100px
}

.pretext{
    width: fit-content;
    padding: 5px 17px; 
    background-color: var(--color-primary);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.main-text{
    margin-top: 10px;
    overflow-y: hidden;
}

.images{
    display: flex; 
    max-height: ;
}
.text-img1, .text-img2{
    max-width: 170px; 
    display: flex;
    flex-direction: column;
    text-align: center;
}

.text-img1:hover, .text-img2:hover{
    transform: scale(1.3);
    transition: .8s;
}

.description{ 
    width: 65%;
    font-size: 18;;
}
@media (max-width: 1024px){
    .text-img1{
        display: none
    }
}
@media (max-width: 600px){
    .text-img2{
        display: none
    }
    .description{
        width: 100%;
    }
    .hero-text{
        text-align: center;
    }
}


.hero-img{
    width: 170px;
    height: 290px; 
    border-radius: 20px;
}

.img-text{
    margin-bottom: -60px;
    color: white;
    font-size: 18;
    z-index: 1;
}



.hero-sign{
    padding: 14px 21px;
    background-color: var(--color-primary);
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    text-decoration: none;
    color: white
}

.hero-sign:hover{
    background-color: var(--pglow);
    transition: .6s;
}

.hero-log{
    margin-left: 5px;
    padding: 14px 21px;
    background-color: var(--color-sec);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-decoration: none;
    color: white
}

.hero-log:hover{
    background-color: var(--sglow);
    transition: .6s;
}

.hero-sign:hover, .hero-log:hover{
    color: white
}


.story{
    width: 100%;
    height: auto;
    overflow-x: hidden;

}
.story-content{
    flex-wrap: wrap;
    justify-content: center;
    
}
.category-title{
    text-decoration: underline;
    text-decoration-color: var(--color-primary);
    margin: 25px 15px;
}
.story-container{
    width: 230px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;

}

.story-img{
    width: 230px;
    border-radius: 20px;
}

.story-category{
    color: rgb(201, 201, 201);
}
.story-text{
    margin-top: -35px;
    width: 90%;
    height: 150px;
    background-color: whitesmoke;
    border-radius: 10px;
    font-size: 14;
}

/* LOGIN-REGISTER */

.login-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-img{
    width: 100px;
    height: 100px;
    background-color: black;
    margin-bottom: -50px;
    border-radius: 50%;
    z-index: 1;
}
.form-container{
    width: 330px;
    height: 420px;
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-input{
    padding: 3px ;
    margin-top: -10px;
    background-color:rgb(85, 171, 211);
    color: white;
    border-radius: 10px;
}

.login-but{
    margin-top: 15px;
    padding: 4px 12px;
    border-radius: 10px;
    background-color: var(--sglow);
    color: white
}