*{ 
    scroll-behavior: smooth; 
    scr
    font-family: 'inter'; 
    color: var(--black-shade)
}

 :root{
    --color-primary: #ededed;
    --pglow: rgb(104, 235, 163);
    --color-sec: #babfbd;
    --sglow: rgb(13, 103, 111);
    --black-shade: rgb(31, 29, 29)
}
.kbg{
    background-color: var(--sglow);
}
.navbar{  
    background-color: var(--color-sec);
  
    height: auto; 
}
.lining{
    height: 7px;
    width: 100%;
    background-color: black;
}
.title-span{ 
    font-family:'Courier New', Courier, monospace;

}
li{
    list-style-type: none; 
    margin: 0 15px;
    font-size: 17px;

}

.nav-list{
    
    margin-left: 90px;
}


.navlink{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.navlink:hover{ 
    color: var(--color-primary);
    transition: .4s;
}

.join{ 
    padding: 7px 18px;
    background-color: black;
    color: white;
    text-decoration: none; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-decoration: none;
}

@media(max-width: 1024px){
    .join{
        display: none;
    }
    .color{
        background-color: rgb(221, 219, 219);
    }
}


/* HERO */ 
.hero{
    width: 100%;
     height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-primary)
}
.hero-container{ 
    justify-content:space-between;
    align-items: center;
    width: 100vw;
    margin: 0 100px;
}

.pretext{
    width: fit-content;
    padding: 5px 17px; 
    background-color: var(--color-primary);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.main-text{
    margin-top: 10px;
    overflow-y: hidden;
}

.images{
    display: flex; 
    max-height: ;
}
.text-img1, .text-img2{
    max-width: 170px; 
    display: flex;
    flex-direction: column;
    text-align: center;
}

.text-img1:hover, .text-img2:hover{
    transform: scale(1.3);
    transition: .8s;
}

.description{ 
    width: 65%;
    font-size: 18;;
}
@media (max-width: 1024px){
    .text-img1{
        display: none
    }
}
@media (max-width: 600px){
    .text-img2{
        display: none
    }
    .description{
        width: 100%;
    }
    .hero-text{
        text-align: center;
    }
}


.hero-img{
    width: 170px;
    height: 290px; 
    border-radius: 20px;
}

.img-text{
    margin-bottom: -60px;
    color: white;
    font-size: 18;
    z-index: 1;
}



.hero-sign{
    padding: 14px 21px;
    background-color: var(--black-shade);
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    text-decoration: none;
    color: white
}

.hero-sign:hover{
    background-color: var(--color-sec);
    transition: .6s;
    color: var(--black-shade)
}

.story{
    width: 100%;
    height: auto;
    overflow-x: hidden;

}
.story-content{
    flex-wrap: wrap;
    justify-content: center;
    
}
.category-title{
    text-decoration: underline;
    text-decoration-color: var(--color-primary);
    margin: 25px 15px;
}
.story-container{
    width: 230px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;

}

.story-img{
    width: 230px;
    border-radius: 20px;
}

.story-category{
    color: rgb(201, 201, 201);
}
.story-text{
    margin-top: -35px;
    width: 90%;
    height: 150px;
    background-color: whitesmoke;
    border-radius: 10px;
    font-size: 14;
}

/* LOGIN-REGISTER */

.login-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-img{
    width: 100px;
    height: 100px;
    background-color: black;
    margin-bottom: -50px;
    border-radius: 50%;
    z-index: 1;
}
.form-container{
    width: 330px;
    height: 420px;
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-input{
    padding: 3px ;
    margin-top: -10px;
    background-color:var(--color-primary);
    color: o;
    border-radius: 10px;
}

.login-but{
    margin-top: 15px;
    padding: 4px 12px;
    border-radius: 10px;
    background-color: var(--color-sec);
    color: var(--black-shade)
}

/* MAIN.HTML */

.mainpage{
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: space-around;
    background-color: var(--color-primary)
}

.topics{ 
    height: 100%;
    width: auto;
    position: static;
}

@media(max-width: 1024px){
    .topics{
        display: none;
    }
}
.topic-container{ 
    margin-top: 20px; 
    width: 220px; 
}

.topic-title{ 
    font-size: 19;
    font-weight: 600;
    color: var(--black-shade)
}

.count-container{
    width: 35px;
    height: 35px;
    background-color: var(--color-sec);
    border-radius: 5px;
    color: var(--color-primary);
}

.posts{
    width: 550px
}
.search{ 
    padding: 0 47px;
    border-radius: 5px; 
    background-color: rgb(231, 224, 224);
    margin-left: 5px;

}

@media(max-width:480px){
    .span-text{
        display: none;
    }
}

.post-create{
    padding: 10px 20px;
    background-color: var(--color-primary);
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-sec);
    font-size: 17;
    border: 2px solid black;
    margin-right: 5px;
}
.post-create:hover{ 
    background-color: var(--color-sec);  
    transition: 0.6s;
    color:var(--color-sec)
}

.post-text{
    width: 100%;
    margin-left: 15px; 
    margin-top: 5px;
}
.post-title{
    height: 90%;
    margin-top: 10px;
    color: black;
    text-decoration: none;
    font-size: 16;

}
.post-description{
    margin: -5px 10px 0px 0px
}
.post-container{ 
    width: 550px;
    height: 160px;
    background-color: var(--color-sec);
    display: flex;
    border-radius: 5px;

}

@media(max-width: 550px){
    .post-title{
        font-size: 14;
    }
}

@media(max-width: 600px){
    .post-container{
        width: 80%
    }
}
.post-img{
    width: 150px;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.post-layer2{ 
    margin-right: 3px;
    height: 100%;
    margin-bottom: 10px;
    
}
.post-topic{
    width: fit-content;
    margin-right: 5px; 
    border-radius: 15px; 
    cursor: default;
}
.author{
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.author:hover{
    color: black
}

.post-layer{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.noti-content{
    width: 290;
    height: 100;
    border-radius: 15px;
    background-color: var(--color-sec);
    border: 3px solid black;
    margin-top: 20px;
    color: black;
}

.noti-text{
    
    margin: 5 10px
}

.heading{
    color: var(--black-shade)
}









@media(max-width: 1024px){
    .notifications{
        display: none;
    }
} 
.top{
    width: 40px;
    height: 40px;
    background-color: var(--color-sec);
    border-radius: 10px;
    margin: 25px

}

/* PROFILE */
.profile{
    width: 100%;
    display: flex;
    overflow-y
}

.bg-img{
    width: 100%;
    height: 30%;
    background-color: red;
    display: flex;
    align-items: flex-end;
}

.user-info{
    height: 88vh;
    width: 370;
    background-color: var(--color-primary);
    box-shadow: ;
    display: flex;
    flex-direction: column;
    align-items: center;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-name{
    font-size: 21;
}
 

.dp{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-top: 10px;
    
}

.location{
    color: grey;
}

.profile-about{
    margin: 0 5px;
    text-align: center;
    height: 80px; 
}

.profile-data{
    margin-top:5px;
}

.edit-icon{
    width: 25px;
    margin-left: 85%;
    margin-top: 10px;
}