{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstraps/bootstrap.min.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manifest</title>
</head>
<body class="d-flex">
    <nav class=" fixed-top d-flex flex-column align-items-center">

        <div class="">
            <img class="nav-logo m-0" src="{% static 'img\Letter-M-MM-Monogram-Logo-Design-vector-Graphics-8008302-1-580x386.jpg' %}" alt="">
            <h5 class="full">Manifest</h5>
        </div>
        <div class="nav-field h list-style-none d-flex flex-column">
            
            <a href="" class="navi-link link-no-underline">
                <div class=" d-flex"> <!-- <a href="https://iconscout.com/icons/home" class="text-underline font-size-sm" target="_blank">Home</a> by <a href="https://iconscout.com/contributors/boosticon" class="text-underline font-size-sm">Haca Studio</a> on <a href="https://iconscout.com" class="text-underline font-size-sm">IconScout</a>-->
                    <img class="m-0 nav-icon" src="{% static 'img\home.svg' %}" alt="">
                    <h6 class="nav-title">ssd</h6>
                </div>
            </a> 
            
            <a href="" class=" navi-link link-no-underline">
                <div class=" d-flex"> <!-- <a href="https://iconscout.com/icons/home" class="text-underline font-size-sm" target="_blank">Home</a> by <a href="https://iconscout.com/contributors/boosticon" class="text-underline font-size-sm">Haca Studio</a> on <a href="https://iconscout.com" class="text-underline font-size-sm">IconScout</a>-->
                    <img class="m-0 nav-icon" src="{% static 'img\create.svg' %}" alt="">
                    <h6 class="nav-title">Create Post</h6>
                </div>
            </a> 
            
            <a href="" class=" navi-link link-no-underline">
                <div class=" d-flex"> <!-- <a href="https://iconscout.com/icons/home" class="text-underline font-size-sm" target="_blank">Home</a> by <a href="https://iconscout.com/contributors/boosticon" class="text-underline font-size-sm">Haca Studio</a> on <a href="https://iconscout.com" class="text-underline font-size-sm">IconScout</a>-->
                    <img class="m-0 nav-icon" src="{% static 'img\noti.svg' %}" alt="">
                    <span class="nav-title">Notifications</span>
                </div>
            </a> 
            
            <a href="" class=" navi-link link-no-underline">
                <div class=" d-flex"> <!-- <a href="https://iconscout.com/icons/home" class="text-underline font-size-sm" target="_blank">Home</a> by <a href="https://iconscout.com/contributors/boosticon" class="text-underline font-size-sm">Haca Studio</a> on <a href="https://iconscout.com" class="text-underline font-size-sm">IconScout</a>-->
                    <img class="m-0 nav-icon" src="{% static 'img\categories.svg' %}" alt="">
                    <h6 class="nav-title">Categories</h6>
                </div>
            </a> 
            
            <a href="" class=" navi-link link-no-underline">
                <div class=" d-flex"> <!-- <a href="https://iconscout.com/icons/home" class="text-underline font-size-sm" target="_blank">Home</a> by <a href="https://iconscout.com/contributors/boosticon" class="text-underline font-size-sm">Haca Studio</a> on <a href="https://iconscout.com" class="text-underline font-size-sm">IconScout</a>-->
                    <img class="m-0 nav-icon" src="{% static 'img\home.svg' %}" alt="">
                    <h6 class="nav-title">ssd</h6>
                </div>
            </a> 
            <a href="" class=" navi-link link-no-underline">
                <div class=" d-flex"> <!-- <a href="https://iconscout.com/icons/home" class="text-underline font-size-sm" target="_blank">Home</a> by <a href="https://iconscout.com/contributors/boosticon" class="text-underline font-size-sm">Haca Studio</a> on <a href="https://iconscout.com" class="text-underline font-size-sm">IconScout</a>-->
                    <img class="m-0 nav-icon" src="{% static 'img\log-in.svg' %}" alt="">
                    <h6 class="nav-title">Login</h6>
                </div>
            </a> 
        </div>
    </nav>
    {% block content %}


    {% endblock %}
</body>
<script src="{% static 'js\bootstrap.min.js' %}"></script>
</html>