{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstraps/bootstrap.min.css' %}">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manifest</title>
</head>
<body> 
    <div class="lining" id="head"></div>
    <nav class=" navbar fixed-top navbar-expand-lg kgb">
        <div class="lining fixed-top"></div>
        <div class="container d-flex justify-content-between">
            <h1 class="title"><strong>Mani<span class="title-span">fest</strong></span></h1> 
                

            <a href="" class="join">Logout</a>
    
        </div> 
    </nav> 
<body>
    {% block content %}

    {% endblock %}
</body>

<script src="{% static 'js\bootstrap.min.js' %}"></script>
</html>



{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstraps/bootstrap.min.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manifest</title>
</head>
<body> 
    <div class="lining" id="head"></div>
    <nav class=" navbar navbar-expand-lg kgb">
        <div class="lining fixed-top"></div>
        <div class="container d-flex justify-content-between">
            <h1 class="title"><strong>Mani<span class="title-span">fest</strong></span></h1>
            <!--<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"><span class="navbar-toggler-icon"></span></button>
            
            
            <div class="collapse navbar-collapse color" id="navmenu">
                <form method="get" class="nav-search">
                 
                    <input type="search" name="q" value="{{search_query}}" class="search" placeholder="Author, Title, Topic"> 
                </form>
                    <ul class="navbar-nav ml-auto nav-list">
                    
                        <li class="nav-item active">
                            <a href="" class="navlink"><i class="fa-solid fa-magnifying-glass"></i>Home</a>
                        </li>
                        <li class="nav-item active">
                            <a href="{% url 'main' %}" class="navlink">Main Page</a>
                        </li>
                        
                            <li class="nav-item active">
                            <a href="" class="navlink">Topics</a>
                        </li>
                        <li class="nav-item active">
                            <a href="" class="navlink">Notification</a>
                        </li>
                        
                        <li class="nav-item active">
                            <a href="{% url 'profile' user.id %}" class="navlink">Profile</a>
                        </li>
                    </ul> 
                
            </div>
        -->
            <a href="" class="join">Logout</a>
    
        </div> 
    </nav>
    {% block content %}


    {% endblock %}
</body>
<script src="{% static 'js\bootstrap.min.js' %}"></script>
</html>


<div class="wrapper">
    <aside class="sidebar">
        <div class="d-flex">
            <button id="toggle-btn" type="button">sdwdds</button>
            <div class="sidebar-logo">
                logo spot
            </div>
        
        </div>
        <div class="d-flex w-100 justify-content-between align-items-center">
        
            <div class="collapse navbar-collapse" id="navigationMenu">
                <div class="layer1 d-flex flex-column justify-content-between mt-1 ">
            
    
                    <article class="navigation mt-3">
                        
                        <div class="mt-3     search-div d-flex justify-content-center align-items-center">
                                
                            <input type="search" name="" class="search" placeholder="Search" id="">
                        </div>
                
                        
                        
                        <a href="" class="navi-link link-no-underline">
                            <div class="nav-container d-flex"> <!-- <a href="https://iconscout.com/icons/plus" class="text-underline font-size-sm" target="_blank">plus</a> by <a href="https://iconscout.com/contributors/piqodesign" class="text-underline font-size-sm">Piqo Design</a> on <a href="https://iconscout.com" class="text-underline font-size-sm">IconScout</a>-->
                                <img class="nav-icon" src="{% static 'img\create.svg' %}" alt="">
                                <h6 class="nav-title">Publish Post</h6>
                            </div>
                        </a>
                        
                        <a href="" class="navi-link link-no-underline">
                            <div class="nav-container d-flex"> <!--<a href="https://iconscout.com/icons/notification" class="text-underline font-size-sm" target="_blank">Notification</a> by <a href="https://iconscout.com/contributors/rengised" class="text-underline font-size-sm" target="_blank">Alex Martynov</a>-->
                                <img class="nav-icon" src="{% static 'img\noti.svg' %}" alt="">
                                <h6 class="nav-title">Notifications</h6>
                            </div>
                        </a>
                        
                        <a href="" class="navi-link link-no-underline">
                            <div class="nav-container d-flex"> <!-- <a href="https://iconscout.com/icons/category" class="text-underline font-size-sm" target="_blank">category</a> on <a href="https://iconscout.com" class="text-underline font-size-sm">IconScout</a>-->
                                <img class="nav-icon" src="{% static 'img\categories.svg' %}" alt="">
                                <h6 class="nav-title">Categories</h6>
                            </div>
                
                    </article>
                    
                    
                    <a href="" class="navi-link link-no-underline">
                        <div class="nav-container d-flex"> <!-- <a href="https://iconscout.com/icons/plus" class="text-underline font-size-sm" target="_blank">plus</a> by <a href="https://iconscout.com/contributors/piqodesign" class="text-underline font-size-sm">Piqo Design</a> on <a href="https://iconscout.com" class="text-underline font-size-sm">IconScout</a>-->
                            <img src="{% static 'img\log-in.svg' %}" alt="" class="nav-icon"> <!-- <a href="https://iconscout.com/icons/log-in" class="text-underline font-size-sm" target="_blank">log in</a> by <a href="https://iconscout.com/contributors/irfansusanto98" class="text-underline font-size-sm" target="_blank">Barudak Lier</a> -->
                            <h6 class="nav-title">Log In</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        

        
        
    </aside>
</div>