{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstraps/bootstrap.min.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manifest</title>
</head>
<body> 
    <nav class=" navbar  navbar-expand-lg fixed-top">
        <div class="d-flex w-100 justify-content-between align-items-center">
            
            <h3 class="project">Manifest</h3> 

            <h6 class="hamid">By Hamid :)</h6>

            

        </div>
        
    </nav>
    <div class="layer1 d-flex flex-column justify-content-between mt-1 ">
            

        <article class="navigation">
            
            <div class="mt-3 search-div d-flex justify-content-center align-items-center">
                    
                <input type="search" name="" class="search" placeholder="Search" id="">
            </div>
    
            <a href="" class="navi-link link-no-underline">
                <div class="nav-container d-flex"> <!-- <a href="https://iconscout.com/icons/home" class="text-underline font-size-sm" target="_blank">Home</a> by <a href="https://iconscout.com/contributors/boosticon" class="text-underline font-size-sm">Haca Studio</a> on <a href="https://iconscout.com" class="text-underline font-size-sm">IconScout</a>-->
                    <img class="nav-icon" src="{% static 'img\home.svg' %}" alt="">
                    <h6 class="nav-title">Home</h6>
                </div>
            </a>
            
            <a href="" class="navi-link link-no-underline">
                <div class="nav-container d-flex"> <!-- <a href="https://iconscout.com/icons/plus" class="text-underline font-size-sm" target="_blank">plus</a> by <a href="https://iconscout.com/contributors/piqodesign" class="text-underline font-size-sm">Piqo Design</a> on <a href="https://iconscout.com" class="text-underline font-size-sm">IconScout</a>-->
                    <img class="nav-icon" src="{% static 'img\create.svg' %}" alt="">
                    <h6 class="nav-title">Publish Post</h6>
                </div>
            </a>
            
            <a href="" class="navi-link link-no-underline">
                <div class="nav-container d-flex"> <!--<a href="https://iconscout.com/icons/notification" class="text-underline font-size-sm" target="_blank">Notification</a> by <a href="https://iconscout.com/contributors/rengised" class="text-underline font-size-sm" target="_blank">Alex Martynov</a>-->
                    <img class="nav-icon" src="{% static 'img\noti.svg' %}" alt="">
                    <h6 class="nav-title">Notifications</h6>
                </div>
            </a>
            
            <a href="" class="navi-link link-no-underline">
                <div class="nav-container d-flex"> <!-- <a href="https://iconscout.com/icons/category" class="text-underline font-size-sm" target="_blank">category</a> on <a href="https://iconscout.com" class="text-underline font-size-sm">IconScout</a>-->
                    <img class="nav-icon" src="{% static 'img\categories.svg' %}" alt="">
                    <h6 class="nav-title">Categories</h6>
                </div>
    
        </article>
        
        
        <a href="" class="navi-link link-no-underline">
            <div class="nav-container d-flex"> <!-- <a href="https://iconscout.com/icons/plus" class="text-underline font-size-sm" target="_blank">plus</a> by <a href="https://iconscout.com/contributors/piqodesign" class="text-underline font-size-sm">Piqo Design</a> on <a href="https://iconscout.com" class="text-underline font-size-sm">IconScout</a>-->
                <img src="{% static 'img\log-in.svg' %}" alt="" class="nav-icon"> <!-- <a href="https://iconscout.com/icons/log-in" class="text-underline font-size-sm" target="_blank">log in</a> by <a href="https://iconscout.com/contributors/irfansusanto98" class="text-underline font-size-sm" target="_blank">Barudak Lier</a> -->
                <h6 class="nav-title">Log In</h6>
            </div>
        </a>
    </div>
    {% block content %}


    {% endblock %}
</body>
<script src="{% static 'js\bootstrap.min.js' %}"></script>
</html>