{% extends 'base2.html '%}
{% load static %}
{% block content %}
<article class="w-50 h-75 bg-dark container">
    <h3><strong>Edit Profile</strong></h3>
    

    <form action="" method="post">
        <input type="image" src="" alt="" class="">

        <div class="info-field d-flex justify-content-between">
            <input type="text" name="firstname" value="{{profile.firstname}}" class="w-25" id="">
            <input type="text" name="firstname" value="{{profile.firstname}}" class="w-25" id="">
        </div>
    </form>
</article>

{% endblock %}