{% extends 'base2.html '%}
{% load static %}
{% block content %}
    <section class="login-container"> 
        <form class="form-container col-md-4 col-lg-6 justify-content-around" method="POST">

                <img src="{% static 'img\12146011_Wavy_Gen-01_Single-07.svg' %}" class="login-image" alt="">

            {% csrf_token %}
                <div class="form-panel d-flex flex-column justify-content-center align-items-center">
                    
                <div class="d-flex flex-column m-3">
                    <label>Username</label>
                    <input type="text" name="username" class="form-input">
                </div>
                <div class="d-flex flex-column">
                    <label>Password</label>
                    <input type="password" name="password" class="form-input">
                </div> 

                <button type="submit" class="login-but">Login</button>
                <p>New User? <a href="">Register here!</a></p>
                </div>
            
        </form>
    </section>


    {% endblock %}