{% extends 'base2.html '%}
{% load static %}
{% block content %}
    <section class="mainpage ">
        <div class="layer1 mt-1">
            <article class="userid">
                <img src="{% static 'img/24b8de73911d96b9ef458edc20c2ffc6.png' %}" alt="" class="id-img">
                <div class="names text-align-center">
                    <div>hamssw</div>
                </div>

            </article>

            <article class="navigation mt-3">
                <div class="nav-container d-flex"> <!-- <a href="https://iconscout.com/icons/home" class="text-underline font-size-sm" target="_blank">Home</a> by <a href="https://iconscout.com/contributors/boosticon" class="text-underline font-size-sm">Haca Studio</a> on <a href="https://iconscout.com" class="text-underline font-size-sm">IconScout</a>-->
                    <img class="nav-icon" src="{% static 'img\home.svg' %}" alt="">
                    <h6 class="nav-title">Home</h6>
                </div>
                <div class="nav-container d-flex"> <!-- <a href="https://iconscout.com/icons/plus" class="text-underline font-size-sm" target="_blank">plus</a> by <a href="https://iconscout.com/contributors/piqodesign" class="text-underline font-size-sm">Piqo Design</a> on <a href="https://iconscout.com" class="text-underline font-size-sm">IconScout</a>-->
                    <img class="nav-icon" src="{% static 'img\create.svg' %}" alt="">
                    <h6 class="nav-title">Publish Post</h6>
                </div>
                <div class="nav-container d-flex"> <!--<a href="https://iconscout.com/icons/notification" class="text-underline font-size-sm" target="_blank">Notification</a> by <a href="https://iconscout.com/contributors/rengised" class="text-underline font-size-sm" target="_blank">Alex Martynov</a>-->
                    <img class="nav-icon" src="{% static 'img\noti.svg' %}" alt="">
                    <h6 class="nav-title">Notifications</h6>
                </div>
                <div class="nav-container d-flex"> <!-- <a href="https://iconscout.com/icons/category" class="text-underline font-size-sm" target="_blank">category</a> on <a href="https://iconscout.com" class="text-underline font-size-sm">IconScout</a>-->
                    <img class="nav-icon" src="{% static 'img\categories.svg' %}" alt="">
                    <h6 class="nav-title">Categories</h6>
                </div>
                <div class="nav-container d-flex"> <!-- <a href="https://iconscout.com/icons/plus" class="text-underline font-size-sm" target="_blank">plus</a> by <a href="https://iconscout.com/contributors/piqodesign" class="text-underline font-size-sm">Piqo Design</a> on <a href="https://iconscout.com" class="text-underline font-size-sm">IconScout</a>-->
                    <img class="nav-icon" src="{% static 'img\create.svg' %}" alt="">
                    <h6 class="nav-title">Lorem</h6>
                </div>
            </article>
        </div>
        
        <!--
        
        <div class="topics">
            <h5 class="heading pt-3"><strong>TOPICS</strong></h5> 
            {% for category, data in category_counts.items %}
            <div class="topic-container d-flex justify-content-between align-items-center">
                <div class="topic-title">{{data.name}}</div>
                <div class="count-container d-flex justify-content-center align-items-center"><strong>{{data.count}}</strong></div>

            </div>
            {%endfor%}
      
        </div> 
    -->

        <div class="posts mt-3">
            <div class="post-layer" id="post-container">
                {% for p in posts %}
                <div class="post-container mt-3" >
                    <a href="{% url 'story' p.id %}" class="img-link"> 
                        <img src="{{p.picture.url}}" class="post-img" alt="">
                        </a> 
                        <div class="post-text d-flex flex-column"> 
                            <a href="{% url 'story' p.id %}" class="post-title">
                                <strong>{{p.title}}</strong>
                            </a>
                            
                            <div class="post-layer2 justify-content-between align-items-center">
                                <p><a href="" class="author  ">By @{{p.author}}</a></p>
                                <p class="tag">Tag: <span class="post-topic">{{p.category}}</span></p>
                            </div>
                        </div>
      
                    
                      

                 </div> 
                 {% endfor %}
            </div>
        </div>

        <div class="notifications">
            <h5 class="heading mt-3"><strong>LATEST NOTIFICATION</strong></h5>
 
      
            {% for n in notifications %}
                <a href=""  class="noti-content d-flex flex-column justify-content-between">
                    <p class="noti-text">{{n.message}}</p>
                    <p class="noti-text">{{n.}}</p>
                    <p class="noti-text">{{n.created_at}}</p>
                </a>  
            {% endfor %}
        
        </div>
        <a href="#head" class="top fixed-bottom"></a>
    </section type='text/javascript'>
    
                
                
            
{% endblock %}


