{% extends 'base2.html '%}

{% block content %}
    <section class="mainpage ">
        <div class="topics">
            <h5 class="heading pt-3"><strong>TOPICS</strong></h5>
            {%for category, data in category_counts.items %}
            <div class="topic-container d-flex justify-content-between align-items-center">
                <div class="topic-title">{{data.name}}</div>
                <div class="count-container d-flex justify-content-center align-items-center"><strong>{{data.count}}</strong></div>

            </div>
            {% endfor %}
        </div>


        <div class="posts mt-3">
            <div class="search-create w-100 d-flex justify-content-between mb-3">
                <input type="search" name="search" placeholder="kkk" class="search">
                <a href="" class="post-create"><strong><span class="span-icon">+</span><span class="span-text">Create Blogpost</span></strong></a>
            </div>
            <div class="post-layer">
    
                {% for b in blogposts %}
                <div class="post-container mt-3">
                    <a href="" class="img-link"> 
                     <img src="assets/img/smiley-men-checking-phones.jpg" class="post-img" alt="">
                    </a>
                     <div class="post-text d-flex flex-column"> 
                        <a href="{% url 'story' b.id %}" class="post-title">
                            <strong>{{b.id}}-- {{ b.title }}</strong>
                        </a>
                       
                         <div class="post-layer2 justify-content-between align-items-center">
                             <p><a href="" class="author  ">By @{{b.author}}</a></p>
                             <p class="tag">Tag: <span class="post-topic">{{b.category}}</span></p>
                         </div>
                     </div> 

                 </div>
                 {% endfor %}
            </div>
        </div>

        <div class="notifications">
            <h5 class="heading mt-3"><strong>NOTIFICATIONS</strong></h5>

            <div class="noti-content d-flex flex-column justify-content-between">
                <p class="noti-text">X commented on</p>
                <p class="noti-text">X minutes ago</p>
            </div> 
        </div>



        <a href="#head" class="top fixed-bottom"></a>
    </section>

{% endblock %}