{% extends 'base2.html '%}
{% load static %}
{% block content %}
    <section class="mainpage ">
        <div class="topics">
            <h5 class="heading pt-3"><strong>TOPICS</strong></h5> 
            {% for category, data in category_counts.items %}
            <div class="topic-container d-flex justify-content-between align-items-center">
                <div class="topic-title">{{data.name}}</div>
                <div class="count-container d-flex justify-content-center align-items-center"><strong>{{data.count}}</strong></div>

            </div>
            {%endfor%}
      
        </div> 

        <div class="posts mt-3">
            <div class="search-create w-100 d-flex justify-content-between mb-3">
                <a href="{% url 'create_post' %}" class="post-create"><strong><span class="span-icon">+</span><span class="span-text">Create Blogpost<i class="fa-solid fa-magnifying-glass"></i></span></strong></a>
            </div>
            <div class="post-layer" id="post-container">
                {% for p in posts %}
                <div class="post-container mt-3" >
                    <a href="{% url 'story' p.id %}" class="img-link"> 
                        <img src="{{p.picture.url}}" class="post-img" alt="">
                        </a> 
                        <div class="post-text d-flex flex-column"> 
                            <a href="{% url 'story' p.id %}" class="post-title">
                                <strong>{{p.title}}</strong>
                            </a>
                        
                            <div class="post-layer2 justify-content-between align-items-center">
                                <p><a href="" class="author  ">By @{{p.author}}</a></p>
                                <p class="tag">Tag: <span class="post-topic">{{p.category}}</span></p>
                            </div>
                        </div>
      
                    
                      

                 </div> 
                 {% endfor %}
            </div>
        </div>

        <div class="notifications">
            <h5 class="heading mt-3"><strong>NOTIFICATIONS</strong></h5>
 
      
            {% for n in notifications %} 
                <a href=""  class="noti-content d-flex flex-column justify-content-between">
                    <p class="noti-text">{{n.message}}</p>
                    <p class="noti-text">{{n.}}</p>
                    <p class="noti-text">{{n.created_at}}</p>
                </a>  
            {% endfor %}
        
        </div>
        <a href="#head" class="top fixed-bottom"></a>
    </section type='text/javascript'>
    
                
                
            
{% endblock %}


