{% extends 'base2.html '%}
{% load static %}
{% block content %}

    <section class="mainpage d-flex flex-column">
        
        <h4 class="text-align-center heading">Notification</h4>
        
        <div class="notifications w-75 d-flex flex-column ">
            
            
            {% for n in notifications %}
                <a href=""  class="noti-content d-flex flex-column justify-content-between">
                    <p class="noti-text">{{n.message}}</p>
                    <p class="noti-text">{{n.}}</p>
                    <p class="noti-text">{{n.created_at}}</p>
                </a>  
            {% endfor %}
        
        </div>
        

    </section>
{% endblock%}