{% extends 'base2.html '%}
{% load static %}
{% block content %}
    <div class="profile">
        <div class="user-info">
            <img src="{{profile.picture.url}}" class="dp" alt="">

            <article class="user-posts">
                <h3 class="heading">Recent Posts</h3>
                
                {% for p in posts %}
                 <p class="profile-post text-align-center">{{p.title}}</p>
                {% endfor%}
            </article>



         </div> 

         <div class="counts-n-data d-flex">

            <div class="infos-activities">
                <div class="detail-container d-flex w-100">
                    
                    <div class="user-detail"> 

                        <h5 class="user-name">{{profile.firstname}} {{profile.lastname}}</h5>
                        <h6 class="user-handle">@{{profile.user.username}}</h6>  
                        <p class="profile-about">{{profile.about}}</p>
                        <div class="user-counts">
                            <strong class="user-stat"><div class="count-info">9000 Followers</div>
                            <div class="count-data"></div></strong>
                            <strong class="user-stat"><div class="count-info">69 Following </div>
                            <div class="count-data"></div></strong>
                            <strong class="user-stat"><div class="count-info">27 Posts</div>
                            <div class="count-data"></div></strong>
                        </div>
                        <div class="profile-buttons"> 
                                <button type="button" class="follow-button">Stalk</button> 
                        <button type="button" class="follow-button">Report </button>
                        <button type="button" class="follow-button">Block</button>
                
                        </div>
                    </div> 
                </div>
                <div class="profile-sections">
                    <button type="button" class="profile-button1">Activities</button>
                    <button type="button" class="profile-button2">About</button>
                    <hr>
                </div>

                <div class="infos">
                    <h6 class="info-title">Contact Info</h6>
                    <strong>
                        <p class="biodata">Phone: {{profile.phone}}</p>
                        <p class="biodata">Email: {{profile.email}}</p>
                        <p class="biodata">Date Of Birth:{{profile.dob}}</p>

                        {% if request == profile.user %}
                        kowwes
                        {% endif %}
                </div>
            </div>  
         </div>



         
         
    </div>

    {% endblock %}