{%extends 'base.html'%}
{% load static %}
{% block content%}
    <section class="login-container">
        <div class="user-img"></div>
        <form class="form-container container d-flex flex-row justify-content-around" method="POST">
            {% csrf_token %}
            <div class="register-info">
                
                <div class="d-flex flex-column ">  
                    <label for="username">Username</label>
                    <input name="username" type="text" class="form-input">
                </div>
                <div class="d-flex flex-column">  
                    <label for="email">Email</label>
                    <input name="email" type="text" class="form-input">
                </div>
                <div class="d-flex flex-column">  
                    <label for="password">Password</label>
                    <input name="password" type="text" class="form-input">
                </div>
                
                <div class="d-flex flex-column">  
                    <label for="password">Confirm Password</label>
                    <input name="password" type="text" class="form-input">
                </div>
            </div>

            <div class="profile-info">
                    
                <div class="d-flex flex-column">  
                    <label for="firstname">firstname</label>
                    <input name="firstname" type="text" class="form-input">
                </div>
                <div class="d-flex flex-column">  
                    <label for="lastname">Lastname</label>
                    <input name="lastname" type="text" class="form-input">
                </div>
                
                <div class="d-flex flex-column">  
                    <label for="dob">DOB</label>
                    <input name="dob" type="date" class="form-input">
                </div>
                <div class="d-flex flex-column">  
                    <label for="phone">Phone</label>
                    <input name="phone" type="number" class="form-input">
                </div>
            
               
            </div>
            
            <div class="d-flex flex-column">
                <label for="about">About</label>
                <textarea name="about" id="" cols="30" rows="10"></textarea>
            </div>

            <div class="d-flex flex-column">
                
            <button type="submit" class="login-but">Create</button>
            <p>Already a user? <a href="{% url 'login' %}">login</a></p>
            </div>
            
        </form>
    </section>

   
    {% endblock %}