
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstraps/bootstrap.min.css' %}">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manifest</title>
</head>
<body> 
    {{story.author.firstname}}
    <div class="lining" id="head"></div> 
        <div class="container mt-3 d-flex justify-content-between align-items-center">
            
            <div class="items-right"> 
                @{{user.username}}
            </div>
            <div class="items-right">
                
                <img src="{{profile.picture.url}}" class="nav-img" alt="">
            </div>
        
        </div>
            <div class="text-fields container d-flex flex-column mt-3">
                <h3>{{story.title}}</h3>
                <p>By @{{story.author.username}}</p>
                <img src="{{story.picture.url}}" class="story-img" alt="">
                <div class="article-text">{{story.read}}</div> 
                <div class="heading">Leave A Comment!</div>

                <form method="POST" class="comment-box">
                    {% csrf_token %}
                    <img src="{{p.picture.url}}" class="nav-img" alt="">
                    <div class="comment-form">
                        <textarea class="comment-area" name="comment"   id="" ></textarea>
                        <button type="submit" class="comment button">Submit</button>
                    </div>
                </form>

                 
                
            </div>
            {% for c in comments %}  
                <div class="comment-container container">
                    <img src="{{c.user.profile.picture.url}}" class="comment-img" alt="">
                    <div class="comment-body">
                        <h6>{{c.user.username}} at {{c.created_at}}</h6>{{c.comment}}

                    </div>
                    {% if request.user == c.user or request.user == story.author %}
                    
                    <a href="{% url 'del_comment' c.id %}">d</a>
                    {% endif %}

                </div>
            
            {% endfor %}
     
</body>

<script src="assets\js\bootstrap.min.js"></script>
</html>