{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstraps/bootstrap.min.css' %}">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manifest</title>
</head>
<body> 
    <div class="lining" id="head"></div>
    <form method="POST" id="storyForm">
        {% csrf_token %}
        <!-- ... other form fields ... -->
        <div class="container mt-3 d-flex justify-content-between align-items-center">
            <div class="items-right"> 
               {{ user.username }}
            </div>
            <div class="items-right">
                <button type="submit" class="publish">Publish</button>
                <img src="assets/img/smiley-men-checking-phones.jpg" class="nav-img" alt="">
            </div>
        </div>
        <div class="text-fields container d-flex flex-column mt-3"> 
            <input name="title" type="text" class="story-title" placeholder="Title">
            <select name="category" id="">
                <option value="Web Development">Web Development</option>
                    <option value="AI/ML">AI/ML</option>
                    <option value="UI/UX">UI/UX</option>
                    <option value="Programming">Programming</option>
                    <option value="Cyber Security">Cyber Security</option>
            </select>
            <textarea name="read" placeholder="Make them all plead, won't be buried alive. Let the demons out and make them bleed" cols="30" rows="5"></textarea>
        </div>
    </form>

    <i class="fa-solid fa-magnifying-glass"></i>
</body>

<script src="assets\js\bootstrap.min.js"></script>
     
</html>